@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050505;
  --foreground: #f0f0f0;
}

body {
  color: var(--foreground);
  background: var(--background);
}

::selection {
  background: #333333;
  color: #ffffff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
